
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: black;
}

#scene {
  width: 70vw;
  height: 50vh;
  border: 5px solid lightblue;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  position: relative;
}

#controls {
  width: 70vw;
  height: 20vh;
  border: 5px solid black;
  display: flex;
  align-items: flex-end;
}

.bar {
  position: absolute;
  background-color: lightblue;
  background: linear-gradient(lightblue, rgba(173, 216, 230, 0));
  border-radius: 5px;
  height: 50%;
}